.student-title {
    font-size: 24px;
    font-weight: bold;
    color: #3361AE;
    position: fixed;
    top: 12%;
    left: 16.5%;
}

.search-bar-edit-container {
    display: flex;
    position: relative;
    margin: 13% 0 2px 0;
    justify-content: space-around;
    width: 100%;
    gap: 175px;
}

.trash-icon {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

@media (max-width: 900px) {
    .search-bar-edit-container {
        gap: 0%; 
    }
}