.student-title {
    font-size: 24px;
    font-weight: bold;
    color: #3361AE;
    position: fixed;
    top: 12%;
    left: 16.5%;
}

.search-bar-edit-container {
    display: flex;
    position: fixed;
    top: 28%;
    justify-content: space-around;
    width: 100%;
    gap: 175px;
}
