.confirmation-container {
    height: 100%;
    width: 100%;
    background-color: #FFFDF8;
}

.header_text {
    display: "flex";
    padding-top: "100px";
    margin-left: 40px;
    margin-top: 115px;
    justify-content: "space-between";
    width: "60%";
    padding-left: "50px";
    /* font-family: 'Montserrat';
    font-style: normal; */
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #3361AE;
}

.confirm-text {
    /* font-family: 'Montserrat';
    font-style: normal; */
    margin-top: 2%;
    margin-left: 5%;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}

.barcode-container {
    display: flex;
    align-items: center;
    margin-top: 4%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFDF8;
}