.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    background-color: #FFFDF8;
}

.enterCodeContainer {
    display: flex; /* Add this line */
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #FAF3E5;
    width: 30%;
    box-shadow: 0px 0px 40px rgba(51, 48, 48, 0.3);
    padding: 20px;
    margin: auto;
    height: auto; 
    background-color: #FAF3E5;
}

.enterCodeTitle{
    font-size: 38px;
    margin-top: -2px;
    color: #3361AE;
}

.input-field {
    width: 85%; 
    padding: 10px;
    border: 2px solid white; 
    border-radius: 5px;
    font-size: 19px;
    outline: none;
}

.submit-button {
    background-color: #3361AE;
    color: white;
    padding: 7px 42px; 
    font-size: 21px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for hover effect */
    font-family: sans-serif;
    /* width: 40%; */
}

.submit-button:hover {
    background-color: #003d99;
}

.error {
    color: #A14F39;
    font-size: 19px;
    margin: 10px 0px 30px 30px;
    align-self: flex-start;
}

