.cart-confirm-body {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

.cart-confirm-container {
    padding-top: 100px;
    height: 600px;
    width: 100%;
}

.cart-contents-container {
    padding-left: 50px;
    background-color: red;
    height: 600px;
    margin-inline: 40px;
    margin-top: 20px;
    padding: 10px;
}