.cart-confirm-body {
    display: flex;
    height: 100vh;
}

.cart-confirm-container {
    padding-top: 100px;
    height: 80%;
    width: 100%;
}

.cart-contents-container {
    padding-left: 50px;
    margin-inline: 40px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 90vw;
}

.cart-total {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 20px;
    height: 50px;
    line-height: 50px;

    display: flex;
    justify-content: space-between;
    /* Reduce the gap below Total */
}

.button-footers {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button-back {
    background-color: #3361AE;
    border-radius: 37.5px;
    width: 300px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.button-back:hover {
    background-color: #003a99;
}


.cart-header-text {
    display: inline-flex;
    width: 90vw;
    font-size: 38px;
    font-size: calc(2vw + 1vh);
    margin-top: 120px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: normal;
    color: #3361AE;
}


button.button.next:disabled {
    background-color: #cccccc;
    color: #a0a0a0;
    cursor: not-allowed;
    opacity: 1;
    border: none;
}

button.button.next:disabled:hover {
    background-color: #cccccc;
    cursor: not-allowed;
}

div.terms-container label {
    all: unset;
    font-family: Montserrat, sans-serif !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 50px !important;
    color: black !important;
    display: flex;
    align-items: center;
}

.terms-container {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    color: black;

    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -35px;
}

.terms-container label {
    display: flex;
    align-items: center;
}

.terms-container input[type="checkbox"] {
    margin-right: 10px;
}

.terms-container .terms-link {
    color: #3361AE;
    /* Link color */
    text-decoration: underline;
    cursor: pointer;
}

.term-modal-footer input[type="checkbox"] {
    margin-right: 10px;
    /* Space between checkbox and text */
}