.scan-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.scan-content {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    min-width: 400px;
    text-align: center;
    position: relative;
}

.scan-content h2 {
    color: #3361AE;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #3361AE;
}

.scan-input {
    margin: 15px 0;
    text-align: left;
}

.scan-input label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #3361AE;
    font-size: 14px;
}

.scan-input input {
    width: 100%;
    padding: 10px 0 10px 0;
    border: 1px solid #3361AE;
    border-radius: 5px;
    font-size: 14px;
    background-color: #E7EFF2;
    color: #333;
    outline: none;
}

.scan-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.scan-search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.scan-search-button {
    background-color: #3361AE;
    color: #fff;
    border: 1px solid #3361AE;
}

.scan-search-button:hover {
    opacity: 0.9;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #3361AE;
}

.close-button:hover {
    color: #1976d2;
}

.checkout-modal-input {
    padding: 10px;
}

.radio-input {
    margin: 15px 0 5px 0px;
    text-align: left;
}

.radio-input label {
    display: block;
    margin-top: 15px;
    font-weight: 500;
    color: black;
    font-size: 14px;
}
