.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.search-content {
    background-color: white;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    min-width: 500px;
    position: relative;
}

.search-header {
    color: #3361AE;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1.5px solid #3361AE;
    padding-bottom: 5px;
}

.close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #3361AE;
}

.close-button:hover {
    color: #1976d2;
}

.search-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info-order-number {
    text-align: left;
}

.info-group {
    text-align: left;
    width: 45%;
}

.search-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #3361AE;
    font-size: 14px;
}

.search-popup-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #3361AE;
    border-radius: 5px;
    font-size: 14px;
    background-color: #E7EFF2;
    color: #333;
    outline: none;
}

.equipment-header {
    color: #3361AE;
    font-size: 20px;
    margin: 15px 0;
    padding-bottom: 5px;
    text-align: left;
}

.search-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.search-item-group {
    width: 48%;
}

.search-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.cancel-button,
.submit-button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    border: none;
}

.cancel-button {
    background-color: transparent;
    color: #3361AE;
    border: 1px solid #3361AE;
    margin-right: 10px;
}

.cancel-button:hover {
    background-color: #3361AE;
    color: #fff;
}

.submit-button {
    background-color: #3361AE;
    color: #fff;
    border: 1px solid #3361AE;
}

.submit-button:hover {
    background-color: #155a9d;
    border-color: #155a9d;
}
