.main-reservation-equipment-cart {
    height: 100%;
    width: 100%;
    background-color: #FFFDF8;
}

.equipment-and-cart {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.equipment-container {
    height: auto;
    width: 60%;
    max-width: 1300px;
    margin-left: 40px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.cart-container {
    height: auto;
    width: 30%;
    max-width: 750px;
    margin-left: 40px;
    margin-top: 10px;
    padding: 10px;
    background-color: #F3F5F3;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.all-cart-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-item {
    padding-inline: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E2E3E2;
}

.cart-first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-second-row {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.remove-equipment-item {
    color: #A14F39A3;
    border: none;
    cursor: pointer;
    border-radius: 0;
}

.equipment-button-container {
    display: flex;
    align-items: space-between;
    padding: 20px;
    width: 100%;
}

.equipment-back, .equipment-checkout {
    background-color: #3361AE;
    color: white;
    padding: 12px 70px;
    font-size: 18px;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    align-self: start;
    margin-bottom: 5%;
}

.equipment-back:hover, .equipment-checkout:hover {
    background-color: #003a99;
}
.equipment-back {
    margin-right: auto;
    margin-left: 2%;
}

.equipment-checkout {
    margin-right: 5%;
}

.Time-Button {
    margin-top: 200px;
    margin-right: 200px;
}