.student-container {
    width: 100%;
    background-color: #FFFDF8;
}

.student-btn {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin-top: 20px;
    margin-left: 10%;
}

.bottom-btn-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: relative;
}
