.student-container {
    width: 100%;
    padding: 20px;
    background-color: #fdfaf4;
}

.student-btn {
    position: fixed;
    top: 85%;
    left: 16%;
}

.bottom-btn-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    position: fixed;
    bottom: 20px; 
    left: 17%;
    right: 0;
}
