@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600&display=swap');


.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3361AE;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 3;
}

.navTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dropdown-container {
    font-family: "Nunito Sans";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.navBar-left {
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    margin: 3px 0px 3px 5%;
    padding: 8px 0px 8px 0px;
    color: #FFFFFF;
    width: 20%;
}

.navBar-right {
    text-decoration: none;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburgerIcon {
    font-size: 28px;
    cursor: pointer;
    color: #FFFFFF;
    margin-right: 15%;
    z-index: 10;

}


.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 200px;
    height: 100vh;
    background-color: #E7EFF2;
    z-index: 2;
    transition: right 0.1s ease;
}

.sidebar.open {
    right: 0;
}

.profile-section {
    display: flex;
    flex-direction: column;
    height: 80px;
    background-color: #3361AE;
    color: #FFFFFF;
    justify-content: center;
}

.profile-info h3 {
    margin: 0;
    font-size: 18px;
    margin-left: 10px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.nav-link {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    color: #3361AE;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid #CCC;
}

.nav-link:hover {
    background-color: #f0f0f0;
}