.student-container {
    width: 100%;
    background-color: #FFFDF8;
}

.classcode-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    position: relative;
    margin-top: 20px;
}

.clearAll {
    background-color: #3361AE;
    color: white;
    margin-right: 0%;
    margin-left: auto;
}
