.content-container {
    padding: 30px;
    margin: 0 auto;
    max-width: 1250px;
    text-align: left;
}


.section-title {
    font-size: 40px;
    font-weight: bold;
    color: #3361AE;
    margin-top: 3%;
    left: 15%;
}


.top-buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
   
}


.search-class-container {
    display: flex;
    align-items: center;
    width: 300x;
    border: 2px solid #3361AE;
    border-radius: 5px;
    background-color: white;
}


.search-class-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    color: #3361AE;
    padding-left: 12px;
}


.search-class-input::placeholder {
    padding-left: 8px;
    color: #3361AE;
    font-weight: bold;
}


.search-class-container img {
    filter: brightness(0) saturate(100%) invert(27%) sepia(96%) saturate(1098%) hue-rotate(200deg) brightness(88%) contrast(83%);
    margin-left: 10px;
    padding-right: 15px;
    width: 18px;
    height: 18px;
   
}


.edit-button {
    background-color: #3361AE;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-weight: bolder;
    justify-content: center;
    transition: background-color 0.3s ease;
}




.edit-button img {
   
    margin-left: 10px;
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
}


.edit-button:hover {
    background-color: #2e4a7a;
}


.table-container {
    background-color: white;
    position: relative;
    margin-bottom: 20px;
}


.class-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    
}


.class-table th, .class-table td {
    padding: 15px;
    background-color: white;
    text-align: center;
    border-top: 3px solid #3361AE;
    border-bottom: 3px solid #3361AE;
}


.class-table th {
    padding-top: 5px;
    background-color: white !important;
    font-weight: bold;
    font-size: 25px;
    border-bottom: 3px solid #3361AE;
    text-align: center;
}


.pagination-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}


.pagination-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #3361AE;
    margin: 0 5px;
    padding: 5px;
}


.pagination-button:disabled {
    color: #ccc;
    cursor: not-allowed;
}


.pagination-button:hover:not(:disabled) {
    color: #003a99;
}


.pagination-text {
    font-size: 20px;
    color: #3361AE;
    margin: 0 10px;
}




.bottom-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}



