.student-container {
    width: 100%;
    background-color: #FFFDF8;
}

.student-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    position: relative;
    margin-top: 20px;
    margin-left: 10%;
}

.student-bottom-btn-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: relative;
}
