@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600&display=swap');

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 100%;
  width: 100vw; 
}

.select-class-header {
  display: inline-flex;
  width: 90vw;
  font-size: 38px;
  font-size: calc(2vw + 1vh);
  margin-top: 15vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: normal;
  color: #3361AE;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(2, auto); /* 2 rows */
  row-gap: 60%; /* Space between the tabs */
  column-gap: 50%;
  height: auto;
  margin-top: 13vh;
  justify-content: center; /* Center the grid horizontally */
  align-items: center; /* Center the grid vertically */
  width: 80vw; /* Ensure it doesn't overflow */
  max-width: 800px; /* Restrict the maximum width */
}


.class-container {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  overflow: hidden;
  height: 10vh; 
  width: 20vw;
  max-width: 400px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.class-info {
  background-color: #FFFFFF; 
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  height: 10vh; /* Set a fixed height */
  width: 20vw;
  max-width: 400px;
}

  
.class-icon {
  display: flex;
  flex: 0 0 5vw;
  background-color: #E7EFF2;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.class-icon img {
  transform: scale(0.65);
  max-width: 20vw; /* Scale based on viewport width */
  height: auto;
}
  
.class-name, .instructor-name {
  line-height: normal;
  font-family: 'Nunito Sans', sans-serif; 
  font-style: normal;
  font-weight: 400;
  font-size: calc(0.4vw + 1vh) !important;
  text-align: center;
}

.btnContainer {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Space the buttons to the left and right */
  padding: 0 20px; /* Add some padding for spacing */
  width: 90vw;
  position:absolute;
  bottom: 10vh;
  box-sizing: border-box;
}

.class-info.selected {
  background-color: #3361AE;
  color: #FFFFFF;
}