.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 500px;
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #3361AE;
    margin-top: 5px;
    filter: drop-shadow(0px 3px 1px grey);
}
.modal-form .form-text {
    margin: 15px 0 10px 0;
    color: #3361AE;
}

.modal-form div {
    margin-bottom: 5px;
}

.modal-form input{
    width: 500px;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #E7EFF2;
}

.modal-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #3361AE;
    color: #3361AE;
    border-radius: 5px;
    font-size: 14px;
    background-color: #E7EFF2;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.cancel-button, .submit-button {
    background-color: transparent;
    color: #3361AE;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.submit-button {
    border: 1px solid #3361AE;
}

.submit-button:hover {
    color: white;
    background-color: #3361AE;;
}


.header-text {
    color: #3361AE;
    font-size: 28px;
}

.header-divider {
    border: 0;
    height: 1.5px;
    background: #3361AE;
    margin: 0 0 15px 0;
    width: 100%;
}

.mui-textfield .MuiOutlinedInput-root {
    padding: 0;
    background-color: #E7EFF2;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #3361AE;

}

.css-ka7ti6-MuiAutocomplete-root .MuiAutocomplete-input {
    border: none;
}

.css-20bmp1-MuiSvgIcon-root {
    color: #3361AE;
}

.MuiAutocomplete-hasPopupIcon.css-ka7ti6-MuiAutocomplete-root .MuiOutlinedInput-root, .MuiAutocomplete-hasClearIcon.css-ka7ti6-MuiAutocomplete-root .MuiOutlinedInput-root {
    height: 43px;
}