.equipment-dropdown-header {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    background-color: #E7EFF2;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;

}

.equipment-dropdown-arrow {
    color: #3361AE;
    margin-right: 3%;
    font-size: 25px;
}

.equipment-dropdown-content {
    background-color: #DDE8EA5C;
}

.equipment-dropdown-item {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.equipment-reserve-button {
    background-color: #1FA190;
    color: white;
    border: none;
    padding: 7px 30px;
    cursor: pointer;
    border-radius: 0;
}