.search-bar {
    border: 2px solid #3b5998; 
    border-radius: 4px;
    padding: 4px;
    background-color: #fff;
    width: 250px;
}

.search-input {
    border: none;
    padding: 8px;
    outline: none;
    font-size: 16px;
}

.search-input::placeholder {
    color: #3b5998;
    font-weight: bold;
}
  
.search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #3b5998;
    padding: 4px;
    right: 0;
}
  