/* Base button style */
.button {
    padding: 16px 20px;
    /* Shared padding */
    font-size: calc(0.4vw + 1vh) !important;
    border: none;
    /* No border */
    border-radius: 50px;
    /* Rounded corners */
    cursor: pointer;
    /* Pointer cursor on hover */
    text-align: center;
    /* Center text */
    transition: background-color 0.3s ease;
    /* Smooth transition */
    width: 15%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 0 10px;
    max-width: 200px;
    flex: 1 1 auto;
    margin-left: 0%;
    margin-right: auto;
}

/* Back button style */
.back {
    background-color: #3361AE;
    color: white;

    /* display: inline-flex;
    padding: 16px 100px;
    justify-content: center;
    align-items: center;
    gap: 10px; */
}

.back:hover {
    background-color: #3361AE;
    /* Darker shade on hover */
}

/* Cancel button style */
.cancel {
    background-color: #C38E7D;
    color: black;
    display: inline-flex;
    padding: 16px 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cancel:hover {
    background-color: #b07865;
    /* Slightly different color for hover to make it noticeable */
}

/* Save button style */
.save {
    background-color: #3361AE;
    color: white;
    display: inline-flex;
    padding: 16px 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.save:hover {
    background-color: #3361AE;
    /* Same hover color as back button */
}

/* Next button style */
.next {
    background-color: #3361AE;
    color: white;
    margin-right: 5%;
    margin-left: auto;
}

.next:hover {
    background-color: #3361AE;
    /* Same hover color as back button */
}

.clearAll {
    background-color: #3361AE;
    color: white;
    margin-right: 0%;
    margin-left: auto;
}

.clearAll:hover {
    background-color: #3361AE;
}

